body {
    font-family: "Arial", "Verdana", sans-serif;
}

h1{
    color: white;
}
a,
li{
    color: black;
    text-align: center;
    font-weight: 800;
    
}

.content{
    margin: 16px auto;
    background-color: grey;
    text-align: center;
    width: 400px;
}

.navelement{
    background-color: lightgrey;
    color: black;
    text-align: left;
    width: 200px;
    margin: 8px auto;
}